node_modules/
dist/
coverage
.env*
.git
.idea
*.log
*.swc
.DS_Store
*.pem
.turbo/
.temp
.tmp
pids
*.pid
*.seed
*.pid.lock
.vercel
*.tsbuildinfo
next-env.d.ts
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

!libs/shared/
libs/shared/dist
